* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #A021F0;
}

.counter-box {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.counter-header{
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 20px 20px;
}

.counter p{
  color: white;
  font-size: 40px;
  padding: 20px 20px;
  font-weight: bold;
}

.counter-buttons{
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;

}

.counter-buttons button {

  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.7);
  background-color: #A021F0;
  color:white;
  cursor: pointer;

}
